<div>
    <p-panel [header]="panelHeader" [toggleable]="true">
        <ng-template pTemplate="icons">
            <button pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-ellipsis-h"></span>
            </button>
            <p-slideMenu #menu id="config_menu" [model]="items" [popup]="true"></p-slideMenu>
    </ng-template>
        <div class="content-container">
            <ng-template [ngForOf]="messageObjects" let-messageObject ngFor>
                <div class="message-container" [class]="messageObject.messageLayout.position">
                    <p-card [style]="{'width': '10rem', 'margin-bottom': '0.5rem'}" 
                    [ngClass]="messageObject.messageLayout.backgroundColor">
                        <div style="word-wrap: break-word;" [ngStyle]="{'color': messageObject.messageLayout.textColor}">{{messageObject.content}}</div>
                    </p-card> 
                </div>
            </ng-template>
        </div>


        <ng-template pTemplate="footer">
            <div class="flex justify-content-center">
            <input [(ngModel)]="inputFieldValue" class="flex mr-2" style="width:100%" type="text" pInputText/>
            <button pButton (click)="onSendMessage()" type="button" icon="fa fa-light fa-paper-plane"></button>
            <div></div>
        </div>
        </ng-template>
    </p-panel>

</div>
