<div [style]="mainWindowContainer">
    <p-panel [toggleable]="true">
        <ng-template pTemplate="header">
            <div class="flex flex-column">
            <label class="flex text-lg font-medium"> {{panelHeader}}</label>
            <div class="flex flex-row align-content-center">
                <i *ngIf="!showIsTyping"  class="pi pi-circle-fill flex align-self-center mt-1 mr-1" style="font-size: 0.5rem; color: #04d190"></i>
                <label *ngIf="!showIsTyping"  class="flex text-sm flex align-self-center"> {{panelSubHeader}}</label> 
                <i *ngIf="showIsTyping"  class="pi pi-circle-fill  flex align-self-center mt-1 mr-1" style="font-size: 0.5rem; color: #f2c307"></i>
                <label *ngIf="showIsTyping" class="flex text-sm">{{isTypingContent}}</label> 
            </div>
            <p-message [hidden]="true" class="message-inline message-inline-text" severity="info" text="Hey! Open me for Help" styleClass="mr-2 mt-1"></p-message>
        </div>
        </ng-template>
        <ng-template *ngIf="headerButtonsHidden" pTemplate="icons">
            <button #menuButton pButton class="p-panel-header-icon p-link" (click)="menu.toggle($event)">
                <span class="pi pi-ellipsis-h"></span>
            </button>
            <p-slideMenu #menu id="config_menu" [model]="items" [popup]="true" [viewportHeight]="slideMenuheigth" ></p-slideMenu>
    </ng-template>
        <p-messages class="message-service-icon message-service-wrapper message-service-summary">   
        </p-messages>
        <div class="content-container">
            <ng-template [ngForOf]="messageObjects" let-messageObject ngFor> 
                <div class="message-container flex flex-row" [class]="messageObject.messageLayout.position">
                    <p-card *ngIf="!messageObject.isMultipleChoice" [style]="{'width': '15rem', 'margin-bottom': '0.5rem'}" 
                    [ngClass]="messageObject.messageLayout.backgroundColor">
                        <div style="word-wrap: break-word;" [ngStyle]="{'color': messageObject.messageLayout.textColor}">{{messageObject.content}}</div>
                    </p-card>
                    <div *ngIf="messageObject.isMultipleChoice" [style]="{'width': '15rem', 'margin-bottom': '0.5rem', 'backgroundColor':'transparent', 'padding':'0.1rem'}">
                        <ng-template [ngForOf]="messageObject.choiceObjects" let-choiceObject ngFor>
                            <button [icon]="choiceObject.symbolClass" [disabled]="messageObject.messageLayout.disabled" pButton pRipple type="button" label="{{choiceObject.label}}" class="p-button-outlined mr-1 mb-1" style="padding: 0.3rem;" ngClass="multi-choice-button-label multi-choice-button-icon" (click)="confirmChoice($event,choiceObject)" [ngStyle]="{'color': choiceObject.isFallback ? '#f2c307': ''}"></button>
                        </ng-template>
                    </div> 
                </div> 
            </ng-template>
        </div>
        <ng-template pTemplate="footer">
            <div (keydown.enter)="onSendMessage()" class="flex justify-content-center">
            <input #inputField [disabled]="inputDisabled" [(ngModel)]="inputFieldValue" class="flex mr-2" style="width:100%" type="text" [placeholder]="inputPlaceholder" [autofocus]="true" pInputText/>
            <button [disabled]="inputDisabled" pButton (click)="onSendMessage()" type="button" icon="fa fa-light fa-paper-plane"></button>
        </div>
        </ng-template>
    </p-panel>
</div>
<button class="login" (click)="logIn()">Login Page</button>
<p-confirmPopup  [style]="{'boxShadow':'0px 20px 30px 10px black', 'width':'30vw', 'maxWidth':'350px', 'zoom': confirmPopup}" rejectButtonStyleClass="p-button-outlined" [autoZIndex]="true"></p-confirmPopup>
 