:host>>> .p-panel{
    width: 40vw;
    max-width: 400px;
    min-width: 250px;
}

:host>>> .p-panel .p-panel-content {
    padding: 0.5rem;
}

:host>>> .p-card .p-card-content{
    padding: 0rem;
    margin: auto;
   
}

:host>>> .p-card .p-card-body{
    padding: 0.2rem;
   
}


