<div style="width: 100%; height: auto;" class="flex justify-content-center">
<p-inplace #inplace [style]="{'min-height':'auto'}" [active]="contentActive"  >
    <ng-template pTemplate="display">
        <div >
        <p-avatar class="flex glow" size="large" pBadge [value]="avatarBadgeContent" severity="info" [badgeDisabled]="avatarBadgeDisabled">
            <i class="pi pi-user"></i>
        </p-avatar>
    </div>
    </ng-template>
    <ng-template pTemplate="content">
        <app-chatbot-main-window (messageEvent)="receiveMessage($event)"></app-chatbot-main-window>
    </ng-template>
</p-inplace>
</div>